/* BOTON PRINCIPAL */
.ver-coleccion-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;

  display: inline-block;

  padding: 16px 36px;

  background: whitesmoke;
  color: black;

  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;

  border: 2px solid black;

  backdrop-filter: blur(6px);

  transition: all .3s ease;
}

.ver-coleccion-btn:hover {
  background: white;
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.3);
}